<div id="loading">
  <div class="load-circle"><span class="one"></span></div>
</div>

<!-- ========== Header Start ========== -->
<header class="header header-white">
  <div class="fixed-header-bar">
    <!-- Container Start -->
    <div class="container">
      <nav class="navbar navbar-expand-lg menu-hover-text">
        <!-- navbar-brand -->
        <a class="navbar-brand" href="/">
          <img src="/images/logo.svg", style="width: 180px"/>
        </a>
        <!-- / -->

        <!-- Mobile Toggle -->
          <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#header-01" aria-controls="header-01" aria-expanded="false" aria-label="Toggle navigation">
            <span></span>
            <span></span>
            <span></span>
          </button>
        <!-- /-->
        <div id="header-01" class="collapse navbar-collapse top-menu">
          <!-- Menu Start -->
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Trang chủ</a>
            </li>
          </ul>
          <!-- / -->
        </div>
      </nav><!-- / -->
    </div>
    <!-- / -->
  </div>
</header>
<!-- ========== Header End ========== -->

<!-- ========== Main Start ========== -->
<main>

  <section class="p-50px-tb"></section>

  <!-- About us -->
  <section id="about" class="section">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12 col-md-6 sm-m-40px-b">
          <div class="transparent-white-bg">
            <h3 class="font-alt color-extra-dark-gray m-0px font-w-700 line-height-45 m-15px-b">Giới Thiệu</h3>
            <p class="font-18 w-90 sm-w-100 font-italic color-theme font-alt">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua.</p>
            <p class="font-16 w-90 sm-w-100 m-30px-b">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. </p>
          </div>
        </div> <!-- col -->
        <div class="col-12 col-md-6">
          <img src="/images/img05.jpg"/>
        </div>
      </div> <!-- row -->
    </div> <!-- container -->
  </section>
  <!-- / -->

</main>
<!-- ========== Main End ========== -->


<!-- ========== Footer Start ========== -->
<footer id="lien-he">

  <div class="light-gray-bg section">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 md-m-30px-b">
          <div class="m-15px-b">
            <img src="/images/logo.svg", style="width: 145px"/>
          </div>
          <p class="m-0px color-medium-gray font-14">© 2021</p>
          <div class="d-flex">
          </div>
        </div> <!-- col -->

        <div class="col-md-6 col-lg-2 md-m-30px-b">
          <h6 class="color-extra-dark-gray font-alt font-15 font-w-600 text-uppercase m-10px-b m-0px-t">Địa Chỉ</h6>
          <p class="color-medium-gray">Buon Me Thuot</p>
        </div> <!-- col -->

        <div class="col-md-6 col-lg-2 md-m-30px-b">
          <h6 class="color-extra-dark-gray font-alt font-15 font-w-600 text-uppercase m-10px-b m-0px-t">Điện Thoại</h6>
          <p class="color-medium-gray">1234567890</p>
        </div> <!-- col -->

        <div class="col-md-6 col-lg-2 sm-m-30px-b">
          <h6 class="color-extra-dark-gray font-alt font-15 font-w-600 text-uppercase m-10px-b m-0px-t">E-mail</h6>
          <p class="color-medium-gray">hello@mocvn.net</p>
        </div> <!-- col -->

        <div class="col-lg-3 col-md-6">
          <h6 class="color-extra-dark-gray font-alt font-15 font-w-600 text-uppercase m-10px-b m-0px-t">
            Facebook
          </h6>
          <p class="color-medium-gray">fb.com/mocvn</p>
        </div>
      </div> <!-- row -->
    </div> <!-- container -->
  </div> <!-- bg-dark -->
</footer>
<!-- ========== Footer End ========== -->
